$shadow-color: #dbdbdb50;
$text-color: white;
$secondary-color: rgb(30, 174, 152);
$helper-color: #a9f1df;
$dead-color: #ffffc7;
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");
html,
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Nunito", sans-serif !important;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none;
	background-color: #f0f2f5 !important;
}
body::-webkit-scrollbar {
	display: none;
}
.float-right {
	float: right;
}
.float-left {
	float: left;
}
