$main-color: #1c00bd;
$m-color: #1e5aff27;
$text-color: #ff575725;
$secondary-color: #dc3545;
$helper-color: #a9f1df56;
$dead-color: #ffffc77c;
$background-color: #cacaca;
$text: 1.4rem;
$home-color: #6ad3f3a8;
.nav-text {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.75rem;
}
.nav-link {
	color: #0f0e0eef !important;
	transition: 0.3s ease-in-out;
	border-radius: 3px;
	margin-left: 10px;
}
.navbar-custom {
	background-color: $background-color !important;
}
.nav-link:hover {
	background-color: $secondary-color !important;
	color: white !important;
}
.nav-brand {
	color: white !important;
	border: 1px solid #0f0e0eef;
	border-radius: 3px;
	background-color: $secondary-color !important;
}
