$border-color: rgba(124, 124, 124, 0.103);
.wallet-box {
    height: 6em;
    font-style: Montserrat;
    transition: 0.1s ease;
    border: 1px solid $border-color !important;
    border-radius: 13px !important;
    margin-bottom: 15px;
}
.wallet-box:hover {
    transform: scale(1.05);
}
